<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css">
    <title>Welcome</title>
</head>
<body>
    <header>
        <marquee behavior="" direction="">Artist</marquee>
    </header>
    <div class="search-bar">
        <form name="myForm" action="/search" method="post">
            <input type="text" placeholder="Enter something ..." name="search" class="search-input" id="search-input" autocomplete="off">
            <label for="typessearch">Choose what you want to search for: </label>
            <select name="typessearch" id="typessearch">
                <option value="Band">Band Name</option>
                <option value="Members">Members</option>
                <option value="location">Locations</option>
                <option value="firstalbum">First Album Date</option>
                <option value="creation">Creation Date</option>
            </select>
            <button type="submit">Search</button>
        </form>
        <div id="suggestions" class="suggestions"></div>
    </div>
    <div class="artistcontainer">
        {{range .}}
        <a class="artist" href="/artist?ID={{.ID}}">
            <img class="imge" src="{{.Image}}" alt="Artist Image"><br>
            <strong>{{.Name}}</strong>
        </a>
        {{end}}
    </div>
    <footer>
        <p>Authors: <br>Achraf OUCHCHATE,<br> ismail ICHI</p>
        <p>Github: <br>aouchcha,<br> ItCHIRO29</p>
        <p>Email: <br>ouchchatea@gmail.com,<br> ismailichi29@gmail.com</p>
    </footer>

    <script>
        document.getElementById("search-input").addEventListener('input', function() {myFunc(this.value);});
        const res = document.getElementById("suggestions");

       
        function myFunc(val) {
            if (document.getElementById("search-input").value === ''){
                res.innerHTML = ''
                return
            }
            fetch(`/suggest?userinput=${val}`)
                .then(response => response.text())
                .then(data => {
                    const test = data.split("\n");
                    let final = "";

                    for (let i = 0; i < test.length; i++) {
                        final += `<div class="suggestion-item">${test[i]}</div>`;
                    }

                    res.innerHTML = final;

                    const suggestionItems = document.getElementsByClassName("suggestion-item");

                for(let c of suggestionItems) {
                        c.addEventListener("click", function() {myFunc2(c.textContent);});
                    }
                });
                }


            function myFunc2(element) {
                document.getElementById("search-input").value = element;
                res.innerHTML = '';
            }
    </script>
</body>
</html>
